// Query for Tablets
@media (max-width: 768px) {
    #main-menu {
            display: none;
        }
    
        #hamburger-menu {
            display: inline;
        }
    .aboutMe{
            flex-direction: column;

        .aboutProfilePic {
            width: 250px;
        }

        .aboutMeInfo {
            width: 60%;
        }

        h2 {
            margin-bottom: 10px;
            text-align: center;
        }
    }
   .nameBar {
       left: 280px;
   }
    .skillSection {
        flex-direction: column;
    }

    .projectsSection {
        .project {
            padding: 0 25px;
    
            .projectImageContainer {
                width: 55%;
            }
            .projectInfoContainer {
                width: 45%;
            }
        }
    }

    .contactSection {
        flex-direction: column;
        padding: 20px 0;
        
        .infoSection {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: initial;
            width: 80%;

            h2 {
                text-align: center;
                margin-bottom: 20px;
            }
            p {
                margin-bottom: 10px;
            }
            .socialLinks {
                width: 480;
                padding: 0;
            }
        }

        .formInput {
            width: 60%;

            .form {
                width: 100%;
            }
        }
    }
}

// Query for Phones - tablets
@media (max-width: 481px) {

    .body > section {
        padding: 20px !important
    }
    .nameBar{
        left: 280px;
    }
    .nameTitle{
        height: 35vh;

        h2{
            padding-top: 80px;
        }
    }

    .contactSection {
        flex-direction: column;
    }

    .skillSection {
        .skillTitleContainer {
            h3 {
                padding-bottom: 20px;
            }
            p{
                padding-bottom: 30px;
            }
        }

        .skillListContainer {
            width: 100%;
        }
    }

    .aboutMe {
        .aboutMeInfo {
            width: 100%;
        }
        p{
            padding-top: 15px;
        }
    }

    .projectsSection {
        
        h2 {
            padding-left: initial;
        }
        .project {
            flex-direction: column;
            padding: 0;
            margin-top: 45px;

            .projectImageContainer {
                width: 90%;
                margin-right: initial;
            }

            .projectInfoContainer {
                width: 90%;
            }
        }
    }

    .contactSection {
        .contactSectionContainer {
            width: 100%;

            .infoSection {
                width: 80%;
            }
           
            p{
                line-height: 30px;
            }
        }
        .formInput {
            width: 100%;

            .form {
                padding: 0;
            }
        }
    }
}












