.navBar{
    display: flex;
    list-style: none;
    float: right;


    a{
        text-decoration: none;
        padding: 0 10px 0 50px;
        margin-right: 50px;
        margin-top: 10px;
    }
    .contactBar{
        background-color: #FBAF01;
        padding-top: 10px;
        padding-bottom: 10px;
       
      
       
    }
}

.nameBar {
        position: relative;
    
    a{
        text-decoration: none;
        margin-left: 50px;
        position: absolute;
        margin-top: 10px;
    }
}

.navHeader{
    margin-top: 20px;
    margin-right: 50px;
}
