header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;

    .navHeader {
           display: flex;
           align-items: center;
        }

    a{
        text-decoration: none;
        
        margin-right: 50px;
   
    }
    .contactBar{
        background-color: #FBAF01;
        width: 150px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.nameBar {
        position: relative;
    
    a{
        text-decoration: none;
        margin-left: 50px;
        margin-top: 10px;
    }

        font-family: 'Francois One',
        sans-serif;

        font-size: 40px;
}


