*{
    margin: 0;
    padding: 0;
}

h2, h3, h4{
    font-family: 'Rampart One', cursive;
}

html{
    font-family: 'Francois One', sans-serif;
}

body > section {
    padding: 40px;
}

.skillSection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3D48AE;
    color: #fff;
    min-height: 300px;
        
        .skillTitleContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            h3{
                font-size: 50px;
                padding-bottom: 30px;
            }
            
        }

        .skillListContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            text-transform: none;
            width: 50%;

            >div {
                width: 25%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 15px;
            }
                 
            img {
                width: 60px;
                    &:hover {
                        transform: scale(1.25);
                    }
                
                    &:focus {
                        transform: scale(1.25);
                    }
            }

            ul {
                margin-right: 50px;
                padding: 0;

                li {
                    margin-bottom: 30px;
                }
            }
        }
    }


.nameTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    height: 60vh;

    div{
      margin-right: 10px;
    }
    img{
        width: 30%;
    }

    h2 {
        font-size: 50px;
    }
    p{
        font-family: 'Francois One', sans-serif;
    }
    
}

.aboutMe {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    background-color: #E7E8EE;


    div {
        margin-left: 20px;
        width: 40%;
    }

    img {
        width: 15%;
        border-radius: 50%;
    }

    h2 {
        font-size: 50px;
    }


}


.projectsSection{

    h2{
        padding-left: 100px;
        font-size: 60px;
    }
      
    .projectColumn{
        width: 65%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .project{
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
        margin-top: 30px;
        padding: 0 50px;
        .projectImageContainer{
            width: 30%;
            margin-right: 30px;
            img{
                width: 100%;
                border-radius: 10%;
                
            }
        }
        .projectInfoContainer{
            width: 70%;

            .memeDiv, .wordDiv{
                padding-top: 250px;
            }
            p{
                font-family: 'Arsenal', sans-serif;
                padding-top: 20px;
            }

            .linkContainer{
                display: flex;
                align-items: center;
                margin-top: 10px;
                a{
                    width: 150px;
                    height: 30px;
                    color: black;
                    background-color: #FBAF01;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    margin-right: 10px;
                }
            }
        }
    }
}


.contactSection{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 68vh;
    background-color: #DFE0FC;
    
    p{
        font-family: 'Arsenal', sans-serif;
    }
   
    
    .contactSectionContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
    .socialLinks{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 30px;
        width: 40%;
        margin: 0 auto;
    }

    
    h2{
        font-size: 47px;
    }
        .formInput {
            width: 50%;
    
            .form {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding-left: 1rem;
    
                input {
                    margin: 1rem auto;
                    padding: .5rem;
                    width: 100%;
    
                    &::placeholder {
                        font-size: 1rem;
                        text-transform: lowercase;
                        font-family: 'Arsenal', sans-serif;
                      
                    }
                }
    
                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    text-align: center;
                    background-color: green;
                    padding: .5rem 1rem;
                    border: none;
                    transition: 0.5s;
                    
                    &:hover,
                        &:focus {
                            color: blue;
                            background-color: orange;
                        }
                   
                }
    
                textarea {
                    width: 100%;
                    resize: none;
                    padding: 0.5rem;
                    height: 25vh;
                    margin: 1rem auto;
    
                    &::placeholder {
                        font-size: 1rem;
                        text-transform: lowercase;
                        font-family: 'Arsenal', sans-serif;
                    }
                }
            }
        }
    }

