html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header, p {
  font-size: 20px;
}

h1, h2, h3, p {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3 {
  font-size: 40px;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  min-height: 200vh;
  font-family: "Cabin", Sans-serif;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  background: black;
  z-index: -1;
}

#main-menu {
  display: block;
  height: 100px;
  width: 100%;
  background: #3D0E61;
  margin: 0px;
  z-index: 9;
}

#main-menu ul {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9;
}

#main-menu li {
  list-style-type: none;
  font-size: 2rem;
}

#main-menu a {
  color: #B9FAF8;
  font-size: 1.5rem;
  text-decoration: none;
}

#main-menu a:hover {
  text-decoration: underline;
}

#hamburger-input {
  display: none;
}

#hamburger-menu {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  display: none;
  border: none;
  padding: 0px;
  margin: 0px;
  font-family: "Cabin", Sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#3D0E61), color-stop(20%, #3D0E61), color-stop(20%, white), color-stop(40%, white), color-stop(40%, #3D0E61), color-stop(60%, #3D0E61), color-stop(60%, white), color-stop(80%, white), color-stop(80%, #3D0E61), to(#3D0E61));
  background: linear-gradient(to bottom, #3D0E61, #3D0E61 20%, white 20%, white 40%, #3D0E61 40%, #3D0E61 60%, white 60%, white 80%, #3D0E61 80%, #3D0E61 100%);
}

#hamburger-menu #sidebar-menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: -250px;
  width: 200px;
  height: 100%;
  background-color: #3D0E61;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#hamburger-menu h3 {
  color: #B9FAF8;
  font-size: 2.2rem;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: #B9FAF8;
  font-size: 1.3rem;
  text-decoration: none;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
  visibility: visible;
  left: 0;
}

#hamburger-input:checked ~ .overlay {
  visibility: visible;
  opacity: 0.4;
}

.nameBar {
  position: relative;
  font-family: "Francois One", sans-serif;
  font-size: 40px;
}
.nameBar a {
  text-decoration: none;
  margin-left: 50px;
  margin-top: 10px;
}

* {
  margin: 0;
  padding: 0;
}

h2, h3 {
  font-family: "Rampart One", cursive;
}

html {
  font-family: "Francois One", sans-serif;
}

body > section {
  padding: 40px;
}

.skillSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3D48AE;
  color: #fff;
  min-height: 300px;
  padding-left: 145px;
}
.skillSection .skillTitleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.skillSection .skillTitleContainer h3 {
  font-size: 50px;
  padding-bottom: 30px;
}
.skillSection .skillTitleContainer p {
  width: 100%;
}
.skillSection .skillListContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-transform: none;
  width: 150%;
}
.skillSection .skillListContainer > div {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
.skillSection .skillListContainer img {
  width: 60px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.skillSection .skillListContainer img:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}
.skillSection .skillListContainer img:focus {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}
.skillSection .skillListContainer ul {
  margin-right: 50px;
  padding: 0;
}
.skillSection .skillListContainer ul li {
  margin-bottom: 30px;
}

.nameTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
  height: 60vh;
}
.nameTitle div {
  margin-right: 10px;
}
.nameTitle img {
  width: 30%;
}
.nameTitle h2 {
  font-size: 50px;
}
.nameTitle p {
  font-family: "Francois One", sans-serif;
  line-height: 100px;
}

.aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
  background-color: #E7E8EE;
}
.aboutMe div {
  margin-left: 20px;
  width: 40%;
}
.aboutMe img {
  width: 15%;
  border-radius: 50%;
}
.aboutMe h2 {
  font-size: 50px;
  margin-bottom: 15px;
}

.projectsSection h2 {
  padding-left: 100px;
  font-size: 60px;
}
.projectsSection .projectColumn {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}
.projectsSection .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 0 50px;
}
.projectsSection .project .projectImageContainer {
  width: 30%;
  margin-right: 30px;
}
.projectsSection .project .projectImageContainer img {
  width: 100%;
  border-radius: 10%;
}
.projectsSection .project .projectInfoContainer {
  width: 70%;
}
.projectsSection .project .projectInfoContainer h3, .projectsSection .project .projectInfoContainer h4 {
  margin-top: 5px;
}
.projectsSection .project .projectInfoContainer .memeDiv, .projectsSection .project .projectInfoContainer .wordDiv {
  padding-top: 250px;
}
.projectsSection .project .projectInfoContainer p {
  font-family: "Arsenal", sans-serif;
  padding-top: 20px;
  line-height: 30px;
}
.projectsSection .project .projectInfoContainer .linkContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}
.projectsSection .project .projectInfoContainer .linkContainer a {
  width: 150px;
  height: 30px;
  color: black;
  background-color: #FBAF01;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  margin-right: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.projectsSection .project .projectInfoContainer .linkContainer a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.projectsSection .project .projectInfoContainer .linkContainer a:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contactSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 68vh;
  background-color: #DFE0FC;
}
.contactSection p {
  font-family: "Arsenal", sans-serif;
  line-height: 60px;
}
.contactSection .contactSectionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}
.contactSection .socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 30px;
  width: 40%;
  margin: 0 auto;
  margin-left: 0px;
}
.contactSection .socialLinks .linkOne, .contactSection .socialLinks .linkTwo, .contactSection .socialLinks .linkThree {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.contactSection .socialLinks .linkOne:hover, .contactSection .socialLinks .linkTwo:hover, .contactSection .socialLinks .linkThree:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}
.contactSection .socialLinks .linkOne:focus, .contactSection .socialLinks .linkTwo:focus, .contactSection .socialLinks .linkThree:focus {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}
.contactSection h2 {
  font-size: 47px;
}
.contactSection .formInput {
  width: 50%;
}
.contactSection .formInput .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-left: 1rem;
}
.contactSection .formInput .form input {
  margin: 1rem auto;
  padding: 0.5rem;
  width: 100%;
}
.contactSection .formInput .form input::-webkit-input-placeholder {
  font-size: 1rem;
  text-transform: lowercase;
  font-family: "Arsenal", sans-serif;
}
.contactSection .formInput .form input::-moz-placeholder {
  font-size: 1rem;
  text-transform: lowercase;
  font-family: "Arsenal", sans-serif;
}
.contactSection .formInput .form input:-ms-input-placeholder {
  font-size: 1rem;
  text-transform: lowercase;
  font-family: "Arsenal", sans-serif;
}
.contactSection .formInput .form input::-ms-input-placeholder {
  font-size: 1rem;
  text-transform: lowercase;
  font-family: "Arsenal", sans-serif;
}
.contactSection .formInput .form input::placeholder {
  font-size: 1rem;
  text-transform: lowercase;
  font-family: "Arsenal", sans-serif;
}
.contactSection .formInput .form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
  background-color: orange;
  padding: 0.5rem 1rem;
  border: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: "Rampart One", cursive;
}
.contactSection .formInput .form button:hover, .contactSection .formInput .form button:focus {
  color: blue;
  background-color: rgba(243, 216, 45, 0.589);
}
.contactSection .formInput .form textarea {
  width: 100%;
  resize: none;
  padding: 0.5rem;
  height: 25vh;
  margin: 1rem auto;
}
.contactSection .formInput .form textarea::-webkit-input-placeholder {
  font-size: 1rem;
  text-transform: lowercase;
  font-family: "Arsenal", sans-serif;
}
.contactSection .formInput .form textarea::-moz-placeholder {
  font-size: 1rem;
  text-transform: lowercase;
  font-family: "Arsenal", sans-serif;
}
.contactSection .formInput .form textarea:-ms-input-placeholder {
  font-size: 1rem;
  text-transform: lowercase;
  font-family: "Arsenal", sans-serif;
}
.contactSection .formInput .form textarea::-ms-input-placeholder {
  font-size: 1rem;
  text-transform: lowercase;
  font-family: "Arsenal", sans-serif;
}
.contactSection .formInput .form textarea::placeholder {
  font-size: 1rem;
  text-transform: lowercase;
  font-family: "Arsenal", sans-serif;
}

footer {
  background-color: #3D48AE;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
  .aboutMe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutMe .aboutProfilePic {
    width: 250px;
  }
  .aboutMe .aboutMeInfo {
    width: 60%;
  }
  .aboutMe h2 {
    margin-bottom: 10px;
    text-align: center;
  }
  .nameBar {
    left: 280px;
  }
  .skillSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projectsSection .project {
    padding: 0 25px;
  }
  .projectsSection .project .projectImageContainer {
    width: 55%;
  }
  .projectsSection .project .projectInfoContainer {
    width: 45%;
  }
  .contactSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
  }
  .contactSection .infoSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: initial;
    width: 80%;
  }
  .contactSection .infoSection h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .contactSection .infoSection p {
    margin-bottom: 10px;
  }
  .contactSection .infoSection .socialLinks {
    width: 480;
    padding: 0;
  }
  .contactSection .formInput {
    width: 60%;
  }
  .contactSection .formInput .form {
    width: 100%;
  }
}
@media (max-width: 481px) {
  .body > section {
    padding: 20px !important;
  }
  .nameBar {
    left: 280px;
  }
  .nameTitle {
    height: 35vh;
  }
  .contactSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skillSection .skillTitleContainer h3 {
    padding-bottom: 20px;
  }
  .skillSection .skillTitleContainer p {
    padding-bottom: 30px;
  }
  .skillSection .skillListContainer {
    width: 100%;
  }
  .aboutMe .aboutMeInfo {
    width: 100%;
  }
  .aboutMe p {
    padding-top: 15px;
  }
  .projectsSection h2 {
    padding-left: initial;
  }
  .projectsSection .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin-top: 45px;
  }
  .projectsSection .project .projectImageContainer {
    width: 90%;
    margin-right: initial;
  }
  .projectsSection .project .projectInfoContainer {
    width: 90%;
  }
  .contactSection .contactSectionContainer {
    width: 100%;
  }
  .contactSection .contactSectionContainer .infoSection {
    width: 80%;
  }
  .contactSection .contactSectionContainer p {
    line-height: 30px;
  }
  .contactSection .formInput {
    width: 100%;
  }
  .contactSection .formInput .form {
    padding: 0;
  }
}